%btn-background {
    background: linear-gradient(90deg, rgba(69,196,189,1) 0%, rgba(55,98,252,1) 50%, rgba(166,11,227,1) 100%);
}

.main-banner.button {
    display: flex;
    flex-direction: row;
    margin-bottom: 69px;

    .btn-LA {
        &.v-btn {
            @extend %btn-background; 
            padding: 3px;
            width: 164px;
            height: 47px;
            border-radius: 6px;
            margin-right: 26px;
            margin-left: 100px;

            .v-btn__content {
                background: #000000;
                height: 40px;
                text-transform: capitalize;
                font-size: 16px;
            }
        }
    }

    .btn-RM {
        &.v-btn {
            @extend %btn-background;
            padding: 3px;
            width: 164px;
            height: 47px;
            border-radius: 6px;

            .v-btn__content {
                background: #000000;
                height: 40px;
                text-transform: capitalize;
                font-size: 16px;
            }
        }
    }
}